@font-face {
  font-family: "Arimo-r";
  src: url("/src/assets/fonts/Arimo-Regular.ttf");
}
@font-face {
  font-family: "Arimo-b";
  src: url("/src/assets/fonts/Arimo-Bold.ttf");
}
@font-face {
  font-family: "Playfair-r";
  src: url("/src/assets/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "Playfair-b";
  src: url("/src/assets/fonts/PlayfairDisplay-Bold.ttf");
}
.arimo-regular {
  font-family: "Arimo-r";
}
.arimo-bold {
  font-family: "Arimo-b";
}
.Playfair-regular {
  font-family: "playfair-r";
}
.Playfair-bold {
  font-family: "Playfair-b";
}

.main-button {
  background-color: #f78d1e;
  color: white;
  border: none;
}
.main-button2 {
  color: #ffffff;
  border: 3px solid #f78d1e;
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 0;
}

.main-button2:hover {
  background-color: #f78d1e;
  color: #ffffff;
  border-color: #f78d1e;
}

.main-button:hover {
  background-color: #fea265;
  color: white;
}
.main-color {
  color: #f78d1e;
}
.cursor-pointer {
  cursor: pointer !important;
}
.blue-color{
  color: #004b99;
}
.bg-Blue{
  background-color: #004b99;
}